body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-image: linear-gradient(19deg, black 0%, #B721FF 100%);

}
h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    font-size: 2.5rem;
}
.mid-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 11%;
    height: 480px;
}

.mid-content h1 {
    width: 60%;
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600 !important;
}

.btn-holder {
    width: 40%;
}

.coli-navbar {
    padding: 3% 10%;
    height: 100px;
    font-family: 'Montserrat';
}

/*COLABORADORES*/
#colaborators {
    padding: 5% 11%;
}
.colaborators-holder{
    margin-top: 3%;
    text-align: center;
}
#colaborators ul a{
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 18px;
    list-style: none;
    color: white;
}
#sponsors{
    color: white;
}

/*COLABORADORES*/

@media (max-width: 680px) {
    
    #colaborators ul a{
        font-size: 14px;
    }
    
    .mid-content {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 600px;
    }

    .mid-content h1 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: bold;
    }

    .btn-holder {
        width: 100%;
    }
    footer{
        text-align: center;
        display: flex;
        align-items: center;
    }
}

footer {
    width: 100%;
    color: white;
    position: relative;
    bottom: 0;
}
footer hr{
    width: 60%;
    border-radius: 0.5px;
}
footer i{
    font-size: 28px;
}
footer a{
    text-align: center;
    color: white;
    text-decoration: none;
    list-style: none;
}